body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
flex: 1 0 auto;
}

.nav-wrapper {
	height: 220px;
}

#search-field {
	width: 75%;
}

.thumbnail {
	display: inline;
}

#thumb-div {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.splashPic {
	width: 75%;
}

.thumb {
	margin: 1px;
}